@import url(sanitize.css);
.content {
    text-align: center;
    background-color: rgb(56, 87, 35);
    width: 700px;
    margin: 10px auto;
    border: 5px solid rgb(204, 119, 69);
    padding: 10px;
}
h1 {
    font-size: 28px;
    margin: 0;
    color: rgb(27, 201, 163);
}
h2 {
    font-size: 24px;
    margin: 0;
    color: rgba(255, 145, 0, 0.822);
}
h3 {
    font-size: 20px;
    margin: 0;
    color: rgb(135, 228, 29);
}
h4 {
    font-size: 18px;
    margin: 0;
    color: rgb(151, 228, 27);
}
p {
    font-size: 16px;
    margin: 0;
    color: white;
}
